<header class="stick-top forsticky">
  <div class="menu-sec">
    <div class="container">
      <div class="logo">
        <span style="color: white"><h2>WHCIH JOB</h2></span>
      </div>
      <div class="btn-extars">
        <a data-toggle="modal" data-target="#login" class="post-job-btn"
          >Login</a
        >
        <ul class="account-btns">
          <li class="signup-popup">
            <a data-toggle="modal" data-target="#signup">Sign up</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>