<section>
  <div class="block no-padding">
    <div class="container fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-featured-sec">
            <div class="new-slide">
              <img src="images/office.png" />
            </div>
            <div class="job-search-sec">
              <div class="job-search">
                <h3>Simple and Easy Job searching</h3>
                <span>Find jobs that suits you</span>
                <form>
                  <div class="row">
                    <div class="col-lg-7 col-md-5 col-sm-12 col-xs-12">
                      <div class="job-field">
                        <input type="text" placeholder="Type job title" />
                      </div>
                    </div>
                    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
                      <div class="job-field">
                        <input type="text" placeholder="Location" />
                      </div>
                    </div>
                    <div class="col-lg-1 col-md-2 col-sm-12 col-xs-12">
                      <button type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                      </button>
                    </div>
                  </div>
                </form>
                <div class="or-browser">
                  <span>Browse job offers by</span>
                  <a href="#" title="">SALARY</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>